.navbar-brand {
  color: #0058f5;
  font-weight: bold;
  font-size: 28px;
}

.form-inline {
  .nav-link {
    color: rgba(0, 0, 0, 0.8);
  }
}

.navbar-avatar {
  width: 25px;
}

.nav-link {
  position: relative;
  .badge-danger {
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    width: 15px;
    padding: 0;
    height: 15px;
    line-height: 1.25;
  }
}


