@import "../home/home.component";

.chander-category__main {
  .row {
    margin: 0 auto;

    .col-lg-4.col-sm-6 {
      margin-bottom: 20px;
    }

    .card {
      height: auto;
      .card-block {
        height: 150px;
      }
    }
  }
  .deal-description {
    font-size: 10px;
    color: #6a6a6a;
    height: 50px;
  }
}
