$colors: (
  primary: #0058f5,
  background: #f8f8f8,
  white: #ffffff,
  text: (
    primary: #333333,
    extra: #666666,
    title: #21314e,
  ),
  secondary: (
    accent: #fecd2d,
    extra: #fa7f5c
  ),
  button: (
    hover: #d8d8d8
  )
);
